@import "../base/default.css";
/* --------------------------------------- */

.btn {
  display: block;
  width: fit-content;
  padding: 12px 24px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--white);
}

.btn:hover {
  background-color: var(--dark-orange);
  cursor: pointer;
}