.d-flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.vert-align-middle {
  /* убираем зазор между фреймом и блоком ниже */
  vertical-align: middle;
}

.columns-container-2>* {
  width: calc(50% - 15px);
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* --- Colors ----------------------------- */

.black-color {
  color: var(--black);
}

.primary-color {
  color: var(--primary);
}

.white-color {
  color: var(--white);
}

.secondary-color {
  color: var(--secondary);
}

.bg-light {
  background-color: var(--background-light);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}